{{ ansibleManaged | comment }}

{% if ansible_distribution == "Debian" and debianRepoURL is defined and debianRepoURL|length %}
deb {{ debianRepoURL }} {{ ansible_distribution_release }}-backports main contrib non-free
deb-src {{ debianRepoURL }} {{ ansible_distribution_release }}-backports main contrib non-free
{% endif %}
